*{
	margin: 0px;
	padding: 0px;

}
body{
	background-color: #12C06A;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 43px;
	width: 100%;
	background-color: black;
	line-height: 43px;
	/*font-family: Arial;*/
	/*font-weight: bold;*/
	font-size: 20px;
}
.logo{
	float: left;
	border-right: none;
	border-left: none;

}
.sparks{
	float: left;
	color: white;
	border-right: none;
	border-left: none;
}
.contact{
	border-right: none;
}
.home{
	border-left: 2px solid white;
}
li{
	float: right;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
a{
	display: block;
	padding: 0 28px;
	color: white;
	text-decoration: none;
}

a:hover{
	background-color: lightsteelblue;
}
.image{
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 20%;
	width: 30%;
}
h1{
	color: white;
	text-align: center;
}